<launch>
    <node name="udpServer" pkg="udpServer" type="udpServer" >
        <param name="local_port" value="43894"/>
        <param name="remote_port" value="43893"/>
        <param name="remote_ip" value="192.168.1.120"/>
        <param name="packet_size" value="10"/>

    </node>
     

</launch>
